/* header */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1700px;
    width: 100%;
    padding: 30px;
    background-color: darkorange;
}

.nav-ul{
    display: flex;
    
}
.navul{
    margin: 15px;
}
a {
    color: black;
   
    
}


 /* burger */
.toggle-burger{
    position: absolute;
    font-size: 35px;
    color: black;
    top: 35px;
    right: 20px;
    display: none;
}

/* responsive code */
@media (max-width: 768px) {
    .navbar-links{
        display: none;
    }
    .navbar-links{
        width: 100%;
    }
    .nav-ul{
        flex-direction: column;
    }
    .navul{
        text-align: center;
    }
    .toggle-burger{
        display: block;
    }
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links.active{
        display: block;
    }
    
}

/* section */
.input-form{
    width: 350px;
    height: 37px;
    margin: 30px;
    border: 3px solid rgb(83, 83, 83);
    font-size: 20px;
    background-color:darkorange;
}
.button{
    width: 90px;
    height: 37px;
    border-color: black;
    background-color: darkorange;
    
}